<div class="container">
  <h2>Manage African Farmers Operational Entities</h2>
  <div id="createFarmerEcosystem" style="margin-top:40px !important;">
    <ul class="nav nav-tabs">
      <li id="menuliAddress" class="nav-item"><a class="nav-link active">Address</a></li>
      <li id="menuliLocation" class="nav-item"><a class="nav-link">Location</a></li>
      <li id="menuliCompany" class="nav-item"><a class="nav-link">Company</a></li>
      <li id="menuliDriver" class="nav-item"><a class="nav-link">Driver</a></li>
      <li id="menuliFarmer" class="nav-item"><a class="nav-link">Farmer</a></li>
      <li id="ddmenuliComUnits" class="nav-item"><a class="nav-link">Commodity Units</a></li>
      <li id="ddmenuliComCat" class="nav-item"><a class="nav-link">Commodity Category</a></li>
      <li id="ddmenuliCom" class="nav-item"><a class="nav-link">Commodity</a></li>
      <li id="ddmenuliFHub" class="nav-item"><a class="nav-link">FoodHub</a></li>
      <li id="ddmenuliFHubSto" class="nav-item"><a class="nav-link">FoodHub Storage</a></li>
      <li class="nav-item"><a class="nav-link">Vehicle</a></li>
      <li class="nav-item"><a class="nav-link">Vehicle Category</a></li>
      <li class="nav-item"><a class="nav-link">Vehicle Capacity</a></li>
      <li class="nav-item"><a class="nav-link">Transport Schedule</a></li>
      <li class="nav-item"><a class="nav-link">Transport Pricing</a></li>
    </ul>
    <div id="tabContent" class="container" style="margin-top:25px !important;">
      <div id="address" class="container" style="display:block;">
        <address></address>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="location" class="container" style="display:none;">
        <location></location>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="company" class="container" style="display:none;">
        <company></company>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="driver" class="container" style="display:none;">
        <driver></driver>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="farmer" class="container" style="display:none;">
        <farmer></farmer>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="commodity-units" class="container" style="display:none;">
        <commodity-unit></commodity-unit>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="commodity" class="container" style="display:none;">
        <commodity></commodity>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="commodity-category" class="container" style="display:none;">
        <commodity-category></commodity-category>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="foodhub" class="container" style="display:none;">
        <foodhub></foodhub>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="foodhub-storage" class="container" style="display:none;">
        <foodhub-storage></foodhub-storage>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="transport-schedule" class="container" style="display:none;">
        <transport-schedule></transport-schedule>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="transport-pricing" class="container" style="display:none;">
        <transport-pricing></transport-pricing>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="vehicle-capacity" class="container" style="display:none;">
        <vehicle-capacity></vehicle-capacity>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="vehicle-category" class="container" style="display:none;">
        <vehicle-category></vehicle-category>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
      <div id="vehicle" class="container" style="display:none;">
        <vehicle></vehicle>
        <div style="padding:7px 20px;"><hr /></div>
      </div>
    </div>
  </div>
</div>
