<div class="container-fluid">
  <div>
    <h4>Driver Calendar &amp; Notes</h4>
  </div>
  <div id="driverCalendar" style="background-color: white !important; color: teal !important; margin: 0px; padding: 5px; width: 100% !important; height: auto !important;">
  </div>

  <div>
    <form #driverCalendarView="ngForm">
      <h4>Driver</h4>
      <div class="form-group">
        <label>DriverId - optional</label>
        <select id="driverId" name="driverId" value="-1" [(ngModel)]="driver.driverId"></select>
      </div>
      <div class="form-group">
        <label>Transport ScheduleId</label>
        <select id="dritransportScheduleId" name="transportScheduleId" [(ngModel)]="driver.transportSchedule.transportScheduleId"></select>
      </div>
      <div class="form-group">
        <label>Add Paid Invoiced Orders</label>
        <select id="tsPaidInvoicedOrdersId" name="invoiceId" [(ngModel)]="invoiceId"></select><br />
        <input type="button" value="Add Invoiced Order" class="but-primary" (click)="addInvoicedOrderToTransportSchedule()" style="margin-top:10px;" />
        <input type="button" value="Remove Invoiced Order" class="but-primary" (click)="removeInvoicedOrderFromTransportSchedule()" style="margin-top:10px;" /><br />
      </div>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" name="firstName" [(ngModel)]="driver.firstName" />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="lastName" [(ngModel)]="driver.lastName" />
      </div>
      <div class="form-group">
        <label>VehicleId</label>
        <select id="drivehicleId" name="vehicleId" [(ngModel)]="driver.vehicle.vehicleId"></select>
      </div>
      <div class="form-group">
        <label>Date From Origin</label>
        <input type="text" name="dateStartFromOrigin" id="dateStartFromOrigin" [(ngModel)]="driver.transportSchedule.dateStartFromOrigin" readonly />
        <input type="button" name="btnDateAtOrigin" (click)="goToDateAtOrigin()" value="Go To Calendar Date" />
      </div>
      <div class="form-group">
        <label>Date At Destination</label>
        <input type="text" name="dateEndAtDestination" id="dateEndAtDestination" [(ngModel)]="driver.transportSchedule.dateEndAtDestination" readonly />
        <input type="button" name="btnDateAtDestination" (click)="goToDateAtDestination()" value="Go To Calendar Date" />
      </div>
      <div class="form-group" style="margin: 5px 0px !important;">
        <textarea cols="12" placeholder="Origin Notes" rows="5" name="originDriverScheculeNotes" [(ngModel)]="driverOriginNoteContent"></textarea><br /><br />
        <input type="button" value="Add Origin Notes" name="btnOriginNote" class="btn-primary" (click)="addOriginNote()" />
      </div>
      <div class="form-group" style="margin: 5px 0px !important;">
        <textarea cols="12" placeholder="Destination Notes" rows="5" name="destinationDriverScheculeNotes" [(ngModel)]="driverDestinationNoteContent"></textarea><br /><br />
        <input type="button" value="Add Destination Notes" name="destinationNote" class="btn-primary" (click)="addDestinationNote()" />
      </div>
      <div class="form-group">
        <hr /><br />
      </div>
      <input type="button" value="Select Driver" class="but-primary" (click)="selectDriver()" style="margin-top:10px;" />
      <input type="button" value="Add Driver" class="but-primary" (click)="addDriver()" style="margin-top:10px;" />
      <input type="button" value="Update Driver" class="but-primary" (click)="updateDriver()" style="margin-top:10px;" />
      <input type="button" value="Delete Driver" class="but-primary" (click)="deleteDriver()" style="margin-top:10px;" />
    </form>
  </div>
</div>
