<div class="col-lg-12" style="text-align:left !important; color:black !important;">
  <h2>Excel Reporting &amp; Charts Of Data, For Insights</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4>Show Usage Chart</h4>
        <ul>
          <li id="listTop5CommodityAndQuantity" class="nav-item"><a class="nav-link active" href="#" (click)="ShowTop5CommodityAndQuantity($event)">Top 5 Commodities Sold By Quantity</a></li>
          <li id="listTop5CommodityAndGrossReturns" class="nav-item"><a class="nav-link"  href="#" (click)="ShowTop5CommodityAndGrossReturns($event)">Top 5 Commodities Gross Returns</a></li>
          <li id="listTop5FarmerCommodityAndGrossReturns" class="nav-item"><a class="nav-link" href="#" (click)="ShowTop5FarmerCommodityAndGrossReturns($event)">Top 5 Farmer Commodities Gross Returns</a></li>
          <li id="listTop5FarmerVehicleCategoryUsageByCostReturns" class="nav-item"><a class="nav-link" href="#" (click)="ShowTop5FarmerVehicleCategoryUsageByCostReturns($event)">Top 5 Farmer Vehicle Categories Used By Gross Returns</a></li>
          <li id="listTop5FarmerVehicleCategoryUsageByNumber" class="nav-item"><a class="nav-link" href="#" (click)="ShowTop5FarmerVehicleCategoryUsageByNumber($event)">Top 5 Farmer Vehicle Categories Usage By Number</a></li>
          <li id="listTop5VehicleCostReturnsScheduledByCategory" class="nav-item"><a class="nav-link" href="#" (click)="ShowTop5VehicleCostReturnsScheduledByCategory($event)">Top 5 Vehicle Categories By Gross Returns</a></li>
          <li id="listTop5VehicleNumbersScheduledByCategory" class="nav-item"><a class="nav-link" href="#" (click)="ShowTop5VehicleNumbersScheduledByCategory($event)">Top 5 Vehicles Used By Categories Scheduled</a></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h4>Download Excel Reports</h4>
        <ul>
          <li id="excelReplistTop5CommodityAndQuantity" class="nav-item"><input type="button" class="btn-primary" value="Excel: Top 5 Commodities Quantity" /></li>
          <li id="excelReplistTop5CommodityAndGrossReturns" class="nav-item"><input type="button" class="btn-primary" value="Excel: Top 5 Commodities Gross Returns" /></li>
          <li id="excelReplistTop5FarmerCommodityAndGrossReturns" class="nav-item"><input type="button" class="btn-primary" value="Excel: Top 5 Farmer Commodities Gross Returns" /></li>
          <li id="excelReplistTop5FarmerCommodityAndQuantity" class="nav-item"><input type="button" class="btn-primary" value="Excel: Top 5 Farmer Commodities Quantity" /></li>
          <li id="excelReplistTop5FarmerVehicleCategoryUsageByCostReturns" class="nav-item"><input type="button" class="btn-primary" value="Excel: Top 5 Farmer Vehicle Categories Gross Returns" /></li>
          <li id="excelReplistTop5FarmerVehicleCategoryUsageByNumber" class="nav-item"><input type="button" class="btn-primary" value="Excel: Top 5 Farmer Vehicle Categories Number" /></li>
          <li id="excelReplistTop5VehicleCostReturnsScheduledByCategory" class="nav-item"><input type="button" class="btn-primary" value="Excel: Top 5 Vehicle Categories Gross Returns" /></li>
          <li id="excelReplistTop5VehicleNumbersScheduledByCategory" class="nav-item"><input type="button" class="btn-primary" value="Excel: Top 5 Vehicles Categories Scheduled" /></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container  reports" id="Top5CommodityAndQuantity" style="display:none;">
    <Top5CommodityAndQuantity></Top5CommodityAndQuantity>
  </div>
  <div class="container reports" id="Top5CommodityAndGrossReturns" style="display:none;">
    <Top5CommodityAndGrossReturns></Top5CommodityAndGrossReturns>
  </div>
  <div class="container  reports" id="Top5FarmerCommodityAndGrossReturns" style="display:none;">
    <Top5FarmerCommodityAndGrossReturns></Top5FarmerCommodityAndGrossReturns>
  </div>
  <div class="container  reports" id="Top5FarmerVehicleCategoryUsageByCostReturns" style="display:none;">
    <Top5FarmerVehicleCategoryUsageByCostReturns></Top5FarmerVehicleCategoryUsageByCostReturns>
  </div>
  <div class="container  reports" id="Top5FarmerVehicleCategoryUsageByNumber" style="display:none;">
    <Top5FarmerVehicleCategoryUsageByNumber></Top5FarmerVehicleCategoryUsageByNumber>
  </div>
  <div class="container  reports" id="Top5VehicleCostReturnsScheduledByCategory" style="display:none;">
    <Top5VehicleCostReturnsScheduledByCategory></Top5VehicleCostReturnsScheduledByCategory>
  </div>
  <div class="container  reports" id="Top5VehicleNumbersScheduledByCategory" style="display:none;">
    <Top5VehicleNumbersScheduledByCategory></Top5VehicleNumbersScheduledByCategory>
  </div>
</div>

