<h1>Driver</h1>

<div class="container-fluid" style="background-color: #F0F0F0; text-align: left;">
  <section>
    <driver ngDefaultControl></driver>
    <hr />
  </section>
  <section>
    <transport-pricing ngDefaultControl></transport-pricing>
    <hr />
  </section>
  <section>
    <transport-schedule ngDefaultControl></transport-schedule>
    <hr />
  </section>
  <section>
    <vehicle ngDefaultControl></vehicle>
    <hr />
  </section>
  <section>
    <vehicle-category ngDefaultControl></vehicle-category>
    <hr />
  </section>
  <section>
    <vehicle-capacity ngDefaultControl></vehicle-capacity>
    <hr />
  </section>
</div>
