<section id="banner" style="height:auto !important;">
  <header style="margin-top:5px !important;position:relative !important;">
    <!-- Nav -->
    <nav id="nav">
      <div style="position:relative !important;margin-bottom:5px;text-align:left;">
        <span style="color:red;background-color:black;padding:5px;display:none;font-size:small;" class="col-lg-4" id="loginName"></span><br />
      </div>
      <ul style="margin: 6px 0px !important;">
        <li style="margin:10px 0px !important;padding:10px !important;">
          <a [routerLink]="['/']">Home</a>
        </li>
        <ng-container *ngIf="actUserStatus.isUserLoggedIn" ngDefaultControl ngModel="actUserStatus">
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/crud']">Manage Entities</a>
          </li>
        </ng-container>
        <li style="margin: 10px 0px !important; padding: 10px !important;">
          <a [routerLink]="['/fetch-data']">Weather Focus</a>
        </li>
        <ng-container *ngIf="actUserStatus.isUserAdministrator" ngDefaultControl ngModel="actUserStatus">
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/manage-roles']">
              Manage Roles
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/add-vehicle']">
              Vehicle
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/transport-pricing']">
              Transport
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="!actUserStatus.isUserAdministrator" ngDefaultControl ngModel="actUserStatus">
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/contactus']">
              Contact Us
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/aboutus']">
              About Us
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="!actUserStatus.isUserLoggedIn" ngDefaultControl ngModel="actUserStatus">
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/login']">
              login
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/register']">
              Register
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="actUserStatus.isUserLoggedIn" ngModel="actUserStatus" ngDefaultControl>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/scanqrcode']">
              Scan Qr-Code
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/schedules-admin']">
              Schedules
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/monitorvehicles']">
              Monitor Vehicles
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/drivercalendarschedule']">
              Driver Calendar
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/reporting']">
              Reports
            </a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a (click)="setIsLogInPage()" [routerLink]="['/home']">
              Logout
            </a>
          </li>
        </ng-container>
        <li style="margin: 10px 0px !important; padding: 10px !important;">
          <a [routerLink]="['/forgot-password']">
            Forgot password
          </a>
        </li>
        <li style="margin: 10px 0px !important; padding: 10px !important;">
          <a [routerLink]="['/basket']">
            <img src="/images/shopBasketFigure.jpg" alt="Basket" style="width:110px; height:auto;" />
          </a>
        </li>
      </ul>
    </nav>
    <!-- Roles Banner-->
    <ng-container *ngIf="actUserStatus.isUserLoggedIn" ngDefaultControl>
      <!-- Nav -->
      <nav style="text-align:left !important;">
        <ul style="margin: 6px 0px !important;">
          <li style="margin:10px 0px !important;padding:10px !important;" *ngFor="let role of userRoles">
            <a routerLink="/{{role}}" routerLinkActive='link-active' style="text-align: left !important; color: white !important;">{{role}}</a>
          </li>
        </ul>
      </nav>
    </ng-container>
    <hr/>
    <ng-container *ngIf="actUserStatus.isUserLoggedIn" ngModel="actUserStatus" ngDefaultControl>
      <nav style="text-align:left !important;">
        <ul style="margin: 6px 0px !important;">
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/allFoodHubCommoditiesStockStorageUsage']" style="text-align: left !important; color: white !important;">All Stock Storage Usage</a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/foodHubByIdCommoditiesStockStorageUsage']" style="text-align:left !important;color:white !important;">FoodHub Storage Usage</a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/unscheduledvehiclesByStorageCapacity']" style="text-align: left !important; color: white !important;">Unscheduled Vehicles</a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/top5FarmerCommodScheduledvehiclesByStorageCapacity']" style="text-align: left !important; color: white !important;">Scheduled Vehicles</a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/top5FarmerCommoditiesunitpricing']" style="text-align: left !important; color: white !important;">Commodities By Unit Price</a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/top5DryInDemandByStorageUsage']" style="text-align: left !important; color: white !important;">Top Dry Storage Usage</a>
          </li>
          <li style="margin: 10px 0px !important; padding: 10px !important;">
            <a [routerLink]="['/top5RefreigeratedInDemandByStorageUsage']" style="text-align: left !important; color: white !important;">Top Referigerated Storage Usage</a>
          </li>
        </ul>
      </nav>
    </ng-container>
  </header>
</section>
