<h1>Government</h1>
<div class="container-fluid" style="background-color: #F0F0F0; text-align: left;">
  <section>
    <address ngDefaultControl></address>
    <hr />
  </section>
  <section>
    <location ngDefaultControl></location>
    <hr />
  </section>
  <section>
    <company ngDefaultControl></company>
    <hr />
  </section>
  <section>
    <commodity ngDefaultControl></commodity>
    <hr />
  </section>
  <section>
    <commodity-category ngDefaultControl></commodity-category>
    <hr />
  </section>
  <section>
    <commodity-unit ngDefaultControl></commodity-unit>
    <hr />
  </section>
  <section>
    <farmer ngDefaultControl></farmer>
    <hr />
  </section>
  <section>
    <foodhub ngDefaultControl></foodhub>
    <hr />
  </section>
  <section>
    <foodhub-storage ngDefaultControl></foodhub-storage>
    <hr />
  </section>
  <section>
    <transport-pricing ngDefaultControl></transport-pricing>
    <hr />
  </section>
  <section>
    <transport-schedule ngDefaultControl></transport-schedule>
    <hr />
  </section>
  <section>
    <vehicle ngDefaultControl></vehicle>
    <hr />
  </section>
  <section>
    <vehicle-category ngDefaultControl></vehicle-category>
    <hr />
  </section>
  <section>
    <vehicle-capacity ngDefaultControl></vehicle-capacity>
    <hr />
  </section>
  <section>
    <driver ngDefaultControl></driver>
    <hr />
  </section>
</div>
