<h1>About MartinLayooInc.</h1>

<div class="container-fluid">
    <div style="background-color: #F0F0F0; margin-right: 0px; margin-left: 0px; text-align: left;">
        <div><h2>Cancel</h2></div>
    </div>
    <div class="row">
        <div>
            Thank you for shopping with MartinLayooInc<br/>
        </div>
        <div>
            Your items Failed the processing Stage however. This can be due to a lack of payment at the end of the transaction or
            cancellation prior to payment. We wish you the best, and hope to expect your next visit. If in doubt about the shopping procedure or have any other query, do not hesitate to contact us
            at the details on our contacts page.
        </div>

        <div style='color: red; font-family: verdana;font-weight:bold;'>
            The transaction is void: if you have any questions pertaining to the mentioned transaction send an email to <a href='mailto:business-info@martinlayooinc.com'>MarinLayooInc Software</a>
        </div>
        <div>
            <br />
            Regards<br />
            MartinLayooInc Team.
        </div>
    </div>
</div>