<div  class="col-lg-12" style="text-align:left !important; color:black !important;">
  <form #driverView="ngForm">
    <h4>Driver</h4>
    <div class="form-group">
      <label>DriverId - optional</label>
      <select id="driverId" name="driverId" value="-1" [(ngModel)]="driver.driverId"></select>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" name="firstName" [(ngModel)]="driver.firstName" />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" name="lastName" [(ngModel)]="driver.lastName" />
    </div>
    <div class="form-group">
      <label>VehicleId</label>
      <select id="drivehicleId" name="vehicleId" [(ngModel)]="driver.vehicle.vehicleId"></select>
    </div>
    <div class="form-group">
      <label>Transport ScheduleId</label>
      <select id="dritransportScheduleId" name="transportScheduleId" [(ngModel)]="driver.transportSchedule.transportScheduleId"></select>
    </div>
    <input type="button" value="Select Driver" class="but-primary" (click)="selectDriver()" style="margin-top:10px;" />
    <input type="button" value="Add Driver" class="but-primary" (click)="addDriver()" style="margin-top:10px;" />
    <input type="button" value="Update Driver" class="but-primary" (click)="updateDriver()" style="margin-top:10px;" />
    <input type="button" value="Delete Driver" class="but-primary" (click)="deleteDriver()" style="margin-top:10px;" />
  </form>
</div>
